body {
    margin: auto 0;
    text-align: center;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/006/858/865/small/squared-paper-seamless-pattern-for-school-notebook-millimeter-graph-paper-grid-graph-4x4-per-inch-notebook-for-writing-hieroglyphs-editable-stroke-illustration-on-white-background-free-vector.jpg');
    background-color: lightblue;
}

form{
    background: rgb(157, 221, 221);

    width: 500px;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;


    display: grid;
    /* flex-flow: wrap;
    justify-content: center */
    grid-template-columns: 40% 60%;
    grid-template-rows: 5;
    /* grid-template-areas:
        "country country"
        "year year"
        "month month"
        "day day"
        "button"; */
}

#button-container {
    grid-column: span 2;
}

main {
    background: rgb(157, 221, 221);
}

p, h3 {
    padding: 0 10px;
}

input {
    margin: 5px;
    width: 250px;
    background-color: rgb(250, 237, 215);
    border: none;
}

select {
    margin: 5px;
    width: 254px;
    background: rgb(250, 237, 215);
    border: none;
}

#input-button {
    /* grid-area: "button";
    grid-column-end: span 2; */

    border: 1px solid black;
    width: 150px;
}

#card-container {
    margin: 10px auto;
    width: 80%;
    border-radius: 20px;
    /* padding: 10px; */

    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

section {
    display: inline-block;
    text-align: center;

    width: 30%;
    height: 325px;

    margin: 5px;
    border: 1px solid black;
    border-radius: 10%;
    background: rgb(250, 237, 215);
}

@media only screen and (max-width: 600px) {
    section {
        width: 90%;
        height: 300px
    }

    form {
        width: 300px;
        margin: 0 auto;
        
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        justify-items: center;
    }

    #button-container {
        grid-column: span 1;
    }
}